<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lab.test.Dao.DataDao">
    <!--查询label_storage-->
    <select id="selectLabel_datas" resultType="com.lab.test.pojo.label_data">
        select * from ${param1}
    </select>
    <!-- 插入platformData -->
    <insert id="insertPlatformData" parameterType="com.lab.test.pojo.PlatformData">
        INSERT IGNORE INTO ${param1} (label_mac,label_type,timestamps,sensorPhysicalId,cnName,Units,sensorPhysicalValue) 
        <foreach collection="PlatformData" open="values" item="item" separator=",">
            (
            #{item.label_mac},#{item.label_type},#{item.timestamps},#{item.sensorPhysicalId},#{item.cnName},#{item.Units},#{item.sensorPhysicalValue}
            )
        </foreach>
    </insert>
</mapper>
